* {
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: sans-serif;
}

html, body {height: 100%}

body, #question_box, #submit {display: flex}

body {
	align-items: center;
	flex-direction: column;
	justify-content: center;

	background-color: #eee;
}

/* question box */

#question_box {
	width: 100%;
	margin-bottom: 2%;
	text-align: center;

	justify-content: center;
}

#question, #submit {
	color: #333;
	padding: 5px 8px;
	border-radius: 5px;
	border: 1px solid #222;
	background-color: #ddd;
}

#question {
	width: 40%;
	outline: none;
	font-size: 140%;
	margin-right: 10px;
}
#question::placeholder {color: #777}

#submit {
	cursor: pointer;
	font-size: 110%;
	align-items: center;
}
#submit:hover {background-color: #ccc}

/* answer box */

#answer_box {
	display: flex;
	align-items: center;
	justify-content: center;
}

img {-webkit-user-drag: none}

#answer {
	width: 9%;
	color: white;
	font-size: 125%;
	font-weight: bold;
	margin-top: -20px;
	text-align: center;
	position: absolute;
}