/* GENERAL */

* {
	margin: 0;
	padding: 0;
	color: white;
	user-select: none;
	text-align: center;
	font-family: Helvetica;
}

html, body {height: 100%}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* BACKGROUNDS */

#background {
	filter: blur(2px);
	position: fixed;
	z-index: -1;
	top: -3px;
	bottom: -3px;
	left: -3px;
	right: 0;
	width: 101%;
}

#phone-back {display: none}

/* SPECIFIC */

#pic {	
	border-radius: 50%;
	box-shadow: 0px 0px 20px black;
}

p {
	font-size: 24px;
	margin: 1% 0 5% 0;
	text-shadow: 2px 2px 1px black;
}

input {
	border: none;
	outline: none;
	padding: 12px;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px black;
}

input[type="email"] {
	text-align: left;
	color: black;
}

input[type="submit"] {
	background: #77f;
	color: black;
	cursor: pointer;
}

input[type="submit"]:hover {background: #66e}
input[type="submit"]:active {background: #55d}