/* VERTICAL */

@media only screen and (max-width: 1200px) and (orientation: portrait) {#btn {width: 30%}}

@media only screen and (max-width: 1100px) and (orientation: portrait) {
	#main {
		width: 45%;
		padding: 4% 4.5%;
	}

	#btn {width: 35%}
}

@media only screen and (max-width: 900px) and (orientation: portrait) {#btn {width: 40%}}

@media only screen and (max-width: 800px) and (orientation: portrait) {
	#main {
		width: 60%;
		padding: 6% 6.5%;
	}
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
	#author {margin: 10% 0}

	.share {
		width: 13%;
		padding: 3% 0 2.5% 0;
	}
	#btn {width: 45%}
}

@media only screen and (max-width: 450px) and (orientation: portrait) {#btn {width: 50%}}

@media only screen and (max-width: 400px) and (orientation: portrait) {
	#quote {font-size: 130%}
	#btn {width: 55%}
}

@media only screen and (max-width: 350px) and (orientation: portrait) {#btn {width: 60%}}

/* HORIZONTAL */

@media only screen and (max-width: 1100px) and (orientation: landscape) {
	#main {
		width: 45%;
		padding: 4% 4.5%;
	}
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
	#main {width: 60%}
	.share {width: 7.5%}
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
	#quote {font-size: 130%}
	.share {width: 9%}
}

@media only screen and (max-width: 700px) and (orientation: landscape) {#btn {width: 30%}}
@media only screen and (max-width: 650px) and (orientation: landscape) {#btn {width: 35%}}
@media only screen and (max-width: 550px) and (orientation: landscape) {#btn {width: 40%}}
@media only screen and (max-width: 500px) and (orientation: landscape) {#btn {width: 45%}}
@media only screen and (max-width: 450px) and (orientation: landscape) {#btn {width: 50%}}
@media only screen and (max-width: 400px) and (orientation: landscape) {#btn {width: 55%}}
@media only screen and (max-width: 350px) and (orientation: landscape) {#btn {width: 60%}}